In [2]:
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd

In [3]:
#trying a different website

browser = Browser('chrome')
loop_url = 'https://www.loopnet.com/search/industrial-space/san-francisco-ca/for-lease/?sk=5d0b2def326a8bf07ad7fb88b215abdf&e=u'
browser.visit(loop_url)
html = browser.html
website = soup(html, 'html.parser')

loop_results = website.find_all(class_="placard-content")

loop_results_info = []

for x in loop_results:
    if x.find("h4") is not None:
        title = x.find("h4").text
    else: title = None
    if x.find(class_='data-points-2c') is not None:
        info = x.find(class_='data-points-2c').text
    else: info = None
    dictionary = {
        "title":title,
        "info":info,
    }
    loop_results_info.append(dictionary)

In [4]:
loop_df = pd.DataFrame(loop_results_info)
loop_df.head()

,title,info
0,None,None
1,1433 Yosemite Ave & 1430 Armstrong Ave,\n\n Built in 1960\n ...
2,1600-1680 Tennessee St,\n\n Built in 1965\n ...
3,275 Mendell St,\n\n Built in 1979\n ...
4,2160-2295 Palou Ave,\n\n Built in 1900\n ...

In [6]:
info = website.find_all("ul", class_='data-points-2c')
[x.text for x in info.find('li')]

AttributeError: ResultSet object has no attribute 'find'. You're probably treating a list of elements like a single element. Did you call find_all() when you meant to call find()?

In [7]:
browser.quit()